---
layout: layout
---
<link href="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/mergely.css" type="text/css" rel=stylesheet />
<link href="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/codemirror.css" type="text/css" rel=stylesheet />

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/codemirror.js"></script>
<script src="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/mergely.js"></script>
<script src="../merge-game/game.js"></script>

<style>
body {
    width: auto;
}

#container {
    display: flex;
    flex-direction: column;
}

#content {
    height: 100%;
    width: 92%;
    margin: 0 auto;
}

#side {
    float: none;
    display: flex;
}	
#side img {
	width: 70%;
}
#side li {
	display: inline-block;
}
kbd {
    background-color: #ddd;
    padding: .2em .4em;
    border: 1px solid #333;
    margin: .2em;
    border-radius: 3px;
}
.congratulations {
	max-height: 0;
	color: yellow;
	background-color: darkgreen;
	transition: max-height 1s;
	-webkit-transition: max-height 1s;
	display: block;
}
.won .congratulations {
	max-height: 100%;
}
</style>
{{content}}
