---
layout: layout
---
<link href="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/mergely.css" type="text/css" rel=stylesheet />
<link href="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/codemirror.css" type="text/css" rel=stylesheet />

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/codemirror.js"></script>
<script src="//cdn.rawgit.com/togakangaroo/Mergely/master/lib/mergely.js"></script>
<script src="../merge-game/game.js"></script>

<style>
body {
    width: auto;
}

#container {
    display: flex;
    flex-direction: column;
}

#content {
    height: 100%;
    width: 92%;
    margin: 0 auto;
}

#side {
    float: none;
    display: flex;
    margin-bottom: 10px;
}	
#side .logo img {
	width: 60% !important;
}
#side li {
	display: inline-block;
}
#side > .section {
	margin-bottom: 0;
}
kbd {
	padding: .1em .6em;
	border: 1px solid #ccc;
	font-size: 11px;
	font-family: monospace;
	background-color: #f7f7f7;
	color: #333;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	border-radius: 3px;
	display: inline-block;
	margin: 0 .1em;
	text-shadow: 0 1px 0 #fff;
	line-height: 1.4;
	white-space: nowrap;
}

.congratulations {
	max-height: 0;
	color: yellow;
	background-color: darkgreen;
	transition: max-height 1s;
	-webkit-transition: max-height 1s;
	display: block;
}
.won .congratulations {
	max-height: 100%;
}
</style>
{{content}}
